@charset "UTF-8";
#homepage-hero {
  background-image:url('http://placehold.it/1400x700');
  height: 680px;
  text-align: center;
  position: relative;
  width:100%; }
  @media screen and (max-width: 768px) {
    #homepage-hero {
      padding: 40px 5px 30px 5px; } }
  @media screen and (max-width: 1024px) {
    #homepage-hero {
      height: 500px; } }
  #homepage-hero h1 {
    font-size: 4em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 100%; }
    @media screen and (max-width: 768px) {
      #homepage-hero h1 {
        font-size: 50px; } }
  #homepage-hero h4 {
    font-size: 1.35em;
    color: #fff;
    font-weight: 300; }
  #homepage-hero h3 {
    color: #fff; }
    @media screen and (max-width: 768px) {
      #homepage-hero h3 {
        font-size: 18px;
        line-height: 28px; } }
  #homepage-hero .floatingyeti img {
    max-width: 50%;
    position: absolute;
    right: 100px;
    top: 30px; }
    @media only screen and (max-width: 40em) {
      #homepage-hero .floatingyeti img {
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0px;
        top: 0px;
        left: 120px; } }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      #homepage-hero .floatingyeti img {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0px; } }
		/* CSS Document */




.text-center{
text-align:center;	
}

.no-bullets {
list-style-type:none;	
padding:0;
}


.above-row-margin {
margin-top:100px;	
}

.message-box {
height:145px;
}

blockquote {
margin:none;	
}

.hero-text{
  float:left;
  margin-top:20%;
  margin-left:10%;
}

.no-underline{
  list-style-type:none; 
  text-decoration:none;
}

input[type=submit] {
    width: 10em;
}

ul.right li{
display:inline-block;
}
ul.right {
 text-align:center;
}
.top-bar-section ul li>a{
  padding:0;
}
ul.left  {
 text-align:center;
}
