@charset "UTF-8";


/*********** 
	1. Typography/Colors/Border Radius
    2. Alignment
    3. Nav
    4. Nav Social Media
    5. Hero
    6. Rules
    7. Products
	8. Reviews
	9. Social Media
	10. Form Styling
	11. Media Queries
	
	***********/
	
	
/*********** 1. TYPOGRAPHY/COLORS/BORDER RADIUS ***********/

@font-face {
	font-family: "sugar-plums";
	src: url("../fonts/sugar-plums.woff") format('woff');
}
h1, h2 {
	font-family: "sugar-plums";
}
h2 {
	font-size: 3.75rem;
}
.intro-text p, small {
	color: white;
}
h1 {
	font-size: 5rem;
	letter-spacing: -4px;
	color: white;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
p, cite {
	line-height: 1.75rem;
	color: #a7a9ac;
}

p, cite, ul.left li a, small {
	font-family: 'Raleway', sans-serif;
}

ul.left li a {
	font-size: 1.125rem;
}
body {
	background-color: white;
}
.single-sentence p {
	font-size: 2.19rem;
	color: #a7a9ac;
	line-height: 3.125rem;
}
.col3 span {
	font-weight: 700;
}
.col3 p {
	font-size: .875rem;
}

footer, ul.right, .button-style, .top-bar-section ul li:hover:not(.has-form) > a, #insta:hover, #facebook:hover, #etsy:hover {
	background-color: #98d2c3;
	}

a:hover, h2 {
	color: #98D2C3;
}

/*********** 2. ALIGNMENT ***********/


.text-center {
	text-align: center;
}
.above-row-margin {
	margin-top: 9.375rem;
}
.below-title-margin {
	margin-bottom: 3.125rem;
}
p {
	margin-top: 0;
}
.above-area-margin {
	margin-top: 4.68rem;
}
.below-hero-margin {
	margin-top: 7.5rem;
}
.no-bullets {
	list-style-type: none;
	padding: 0;
}
.message-box {
	height: 9.1rem;
}
blockquote {
	margin: 0;
}
.hero-text {
	float: left;
	margin-top: 20%;
}


a {
	list-style-type: none;
	text-decoration: none;
}
.intro-text {
	padding-top: 8%;
	text-align: left;
}
footer {
	padding: 1.25rem 0;
}



/*********** 3. NAV ***********/

ul.right li {
	display: inline-block;
}
ul.right {
	text-align: center;
}
.top-bar-section ul li>a {
	padding: 0;
}
ul.left li a:hover {
	text-decoration: underline;
}
.top-bar {
	background: #98d2c3;
	height: 5rem;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}
.top-bar.expanded .title-area {
	background: #98D2C3;
	margin-bottom: 0;
	height: 5rem;
}
ul.title-area {
	height: 5rem;
}



	/**********   4. NAV SOCIAL MEDIA  **********/

#facebook, #etsy, #insta, #facebook:hover, #etsy:hover, #insta:hover {
	height: 3rem;
	width: 3rem;
}

#facebook:hover, #etsy:hover, #insta:hover {
	background-color: #98d2c3

}

#facebook {
	background-image: url(../img/social-nav-static-fb.svg);
}
#facebook:hover {
	background-image: url(../img/social-nav-hover-fb.svg);
}
#etsy {
	background-image: url(../img/social-nav-static-etsy.svg);
}
#etsy:hover {
	background-image: url(../img/social-nav-hover-etsy.svg);
}
#insta {
	background-image: url(../img/social-nav-static-insta.svg);
}
#insta:hover {
	background-image: url(../img/social-nav-hover-insta.svg);
}


/**********   5. HERO   **********/

header {
	height: 80%;
}
.hero {
	background: url(../img/placeholder-hero.jpg);
	background-size: cover;
	height: 100%;
}


/**********    6. RULES   *********/

hr.style1 {
	border-top: .625rem solid #98d2c3;
	border-radius: .125rem;
	margin-top: 25%;
}
.gray-logo {
	height: 50%;
	width: 50%;
	margin-left: 20%;
	margin-bottom: 10%;
}


/*********** 7. PRODUCTS ***********/

#container img, .button-style, input[type=submit], input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, .button-style, #container p {
	border-radius: .1875rem;
}
#container p {
	padding: 1.0625rem .3125rem .8125rem;
	margin: -6px 0 0 0;
	border: 1px solid grey;
	line-height: 1.375rem;
}

.button-style:hover, .button-style:focus {
	background: #8cc4b4;
}
.slick-dots {
	position: relative;
	margin: 0 auto;
}
#container p {
	padding-right: 20%;
}
.col3 span {
	position: absolute;
	right: .3125rem;
	text-align: right;
}


/**********  8. REVIEWS **********/

#review-quote {
	background: url(../img/reviews-quote.svg);
	height: 7.82rem;
	width: 7.82rem;
}


/**********   9. SOCIAL MEDIA   **********/

#facebook-large, #facebook-large:hover, #etsy-large, #etsy-large:hover, #insta-large, #insta-large:hover {
	width: 6.25rem;
	height: 6.25rem;
	display: inline-block;
}
#facebook-large {
	background-image: url(../img/social-large-static-fb.svg);
}
#facebook-large:hover {
	background-image: url(../img/social-large-hover-fb.svg);
}
#etsy-large {
	background-image: url(../img/social-large-static-etsy.svg);
}
#etsy-large:hover {
	background-image: url(../img/social-large-hover-etsy.svg);
}
#insta-large {
	background-image: url(../img/social-large-static-insta.svg);
}
#insta-large:hover {
	background-image: url(../img/social-large-hover-insta.svg);
}



/*********** 10. FORM STYLING ***********/

input[type=submit] {
	width: 10em;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	border: 1px solid #98d2c3;
	box-shadow: none;
	color: grey;
	font-family: 'Raleway', sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #98d2c3;
	font-family: 'Raleway', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #98d2c3;
	opacity:  1;
	font-family: 'Raleway', sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #98d2c3;
	opacity:  1;
	font-family: 'Raleway', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #98d2c3;
	font-family: 'Raleway', sans-serif;
}
.button-style {
	font-family: 'Raleway', sans-serif;
}



/*********** 11. MEDIA QUERIES ***********/


@media only screen and (max-width: 40em) {  /*ONLY SMALL*/


h1 {
	font-size: 3rem;
}

.above-row-margin {
	margin-top: 5rem;
}

.intro-text {
	text-align: center;
}
.single-sentence p {
	font-size: 1.25rem;
	line-height: 2.5rem;
}
hr.style1 {
	border-top: .3125rem solid #98d2c3;
	border-radius: .3125rem;
	margin-top: 25%;
}
#insta-large, #etsy-large, #facebook-large, #insta-large:hover, #etsy-large:hover, #facebook-large:hover {
	height: 4.6875rem;
	width: 4.6875rem;
	background-color: transparent;
}
.col3, .col3 img {
	width: 10rem;
}
#container p {
	font-size: .75rem;
	line-height: 1.0625rem;
}
#review-quote {
	background: url(../img/reviews-quote.svg);
	height: 6.25rem;
	width: 6.25rem;
}
#about-top-small {
	margin-top: 3.125rem;
}
li.logo {
	width: 5rem;
	height: 5rem;
	margin-left: 0%;
}
.gray-logo {
	height: 90%;
	width: 90%;
	margin:0 auto;
	padding-bottom:40%;
	margin;top:-18px;
}

.hero {
	background: url(../img/placeholder-hero.jpg);
	background-size:cover;
	height: 90%;
}
}


@media only screen and (max-width: 58.75em) {     /*SMALL AND MEDIUM*/

ul.right li {
	margin: 0 .625rem;
	margin-top: .9375rem;
}

h2 {
	font-size: 2.5rem;
}
p {
	font-size: .875rem;
}
.top-bar.expanded .title-area {
	background: #98D2C3;
	margin-bottom: 0;
	margin-top: 0;
}
.top-bar .toggle-topbar.menu-icon {
	margin-right: 10%;
	color: #ffffff;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #98D2C3;
	line-height: 2.8125rem;
	padding: 0 0.9375rem;
	text-decoration: none;
}
.top-bar-section li a:not(.button) {
	background: none;
	line-height: 3.625rem;
	padding: 0 1.6875rem;
}
ul.left {
	text-align: center;
	margin-top: 0;
	margin-left: 0;
}
ul.right {
	text-align: center;
	margin-right: 0;
}
.top-bar-section ul li:hover:not(.has-form) > a {
	color: #FFFFFF;
}
#insta:hover, #facebook:hover, #etsy:hover {
	width: 3rem;
	height: 3rem;
}
#insta:hover {
	background-image: url(../img/social-nav-static-insta.svg);
}
#facebook:hover {
	background-image: url(../img/social-nav-static-fb.svg);
}
#etsy:hover {
	background-image: url(../img/social-nav-static-etsy.svg);
}
}

@media only screen and (min-width: 40.063em) {  /*MEDIUM AND UP*/

ul.right li {
	margin: 0 .625rem;
	margin-top: .9375rem;
}
ul.right {
	text-align: center;
	background-color: #98d2c3;
	margin-right: 0;
}
li.logo {
	width: 5rem;
	height: 5rem;
	margin-left: 0%;
}
}

@media only screen and (min-width: 40.063em) and (max-width: 58.75em) {   /*ONLY MEDIUM*/

h1 {
	font-size: 4.375rem;
}

.single-sentence p {
	font-size: 1.5625rem;
}
#insta-large, #etsy-large, #facebook-large, #insta-large:hover, #etsy-large:hover, #facebook-large:hover {
	height: 6.25rem;
	width: 6.25rem;
}
.toggle-topbar menu-icon {
	margin-right: 20%;
	color: #ffffff;
}

.hero {
	background: url(../img/placeholder-hero.jpg);
	background-size:cover;
	height: 80%;
}

.intro-text {
	margin-left:5%;
}


}



@media only screen and (min-width: 58.75em) {      /*TOP BAR LARGE AND UP */

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #98D2C3;
	line-height: 2.8125rem;
	padding: 0 0.9375rem;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #98D2C3;
}
ul.left {
	text-align: center;
	margin-top: 1.25rem;
	margin-left: 2%;
}
ul.right {
	text-align: center;
	background-color: #98d2c3;
	margin-right: 15%;
}
li.logo {
	width: 5rem;
	height: 5rem;
	margin-left: 0%;
}


}


@media only screen and (min-width: 58.75em) {   /*LARGE AND UP*/

ul.left {
	text-align: center;
	margin-top: 1.25rem;
	margin-left: 7%;
}
ul.right {
	text-align: center;
	background-color: #98d2c3;
	margin-right: 15%;
}
li.logo {
	width: 5rem;
	height: 5rem;
	margin-left: 0%;
}
}

@media only screen and (orientation:portrait) {
 header {
	height: 60%;
}
}


@media only screen and (min-width: 90.063em) {
h1 {
	color:white; 
	font-size:6rem;
} /* min-width 1441px, xlarge screens */
 header {
	height: 65%;
}
.intro-text {
	margin-left:-200px;
}

.xl-left-margin {
	margin-left:-200px;
}

 .large-8 {
    width: 50%; }
}


