@charset "UTF-8";


		/* CSS Document */

.text-center{
text-align:center;	
}

.no-bullets {
list-style-type:none;	
padding:0;
}


.above-row-margin {
margin-top:100px;	
}

.message-box {
height:145px;
}

blockquote {
margin:none;	
}

.hero-text{
  float:left;
  margin-top:20%;
  margin-left:10%;
}

a{
  list-style-type:none; 
  text-decoration:none;
}

input[type=submit] {
    width: 10em;
}

/* NAV */

ul.right li{
display:inline-block;
}
ul.right {
 text-align:center;
 background-color:#333333;

}
.top-bar-section ul li>a{
  padding:0;
}
ul.left  {
 text-align:center;
}

#container img {
	
border-radius:3px;
}



#container p {
    padding: 17px 5px 13px;
    margin: -4px 0 0 0;
    border: 1px solid grey;
	border-radius:3px;
}


#container img {
	
border-radius:3px;
}



#container p {
    padding: 17px 5px 13px;
    margin: -4px 0 0 0;
    border: 1px solid grey;
	border-radius:3px;
}

footer {
background-color:grey;
padding:20px 0;
}






@media only screen and (max-width: 60em) { 
  ul.right li {
      margin: 0 30px;
  }
}



